force-app/main/default/flows/TPM_Promotion_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Identify length of Promotion Name whether it is 8 or 9</description>
        <name>Identify_length_of_Promotion_Name</name>
        <label>Identify length of Promotion Name</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_length_is_greater_than_or_equal_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Length_of_Promotion_name</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Checking_Record_is_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_External_ID_for_length_greater_than_9</targetReference>
            </connector>
            <label>If length is greater than or equal 9</label>
        </rules>
        <rules>
            <name>If_length_is_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Length_of_Promotion_name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Checking_Record_is_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_External_ID_for_length_8</targetReference>
            </connector>
            <label>If length is 8</label>
        </rules>
    </decisions>
    <description>Populate External ID for Promotion object from Promotion Name</description>
    <environments>Default</environments>
    <formulas>
        <name>Checking_Record_is_new</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ExternalID_for_length_8</name>
        <dataType>String</dataType>
        <expression>&quot;P0&quot;+RIGHT({!$Record.Name},{!Length_of_Promotion_name})</expression>
    </formulas>
    <formulas>
        <name>ExternalID_for_Length_9</name>
        <dataType>String</dataType>
        <expression>&quot;P&quot;+RIGHT({!$Record.Name},{!Length_of_Promotion_name})</expression>
    </formulas>
    <formulas>
        <description>Length_of_Promotion_name</description>
        <name>Length_of_Promotion_name</name>
        <dataType>Number</dataType>
        <expression>LEN(RIGHT({!$Record.Name},LEN({!$Record.Name})-FIND(&quot;-&quot;,{!$Record.Name})))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>TPM_Promotion_AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TPM_Promotion_AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Populate_External_ID_for_length_8</name>
        <label>Populate External ID for length 8</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>cgcloud__ExternalId__c</field>
            <value>
                <elementReference>ExternalID_for_length_8</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Populate External ID for length 9</description>
        <name>Populate_External_ID_for_length_greater_than_9</name>
        <label>Populate External ID for length greater than 9</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>cgcloud__ExternalId__c</field>
            <value>
                <elementReference>ExternalID_for_Length_9</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_length_of_Promotion_Name</targetReference>
        </connector>
        <object>cgcloud__Promotion__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
