force-app/main/default/flows/TPM_Tactic_BeforeSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Promotion_isnot_null</name>
        <label>Check_Promotion_isnot_null</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Price_Basis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Promotion_in_tactic_isnot_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cgcloud__Promotion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSalesOrgRecord</targetReference>
            </connector>
            <label>Promotion_in_tactic_isnot_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Created</name>
        <label>Is Created ?</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tactic_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTacticNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_out_External_Id_field</targetReference>
            </connector>
            <label>Tactic Is New</label>
        </rules>
    </decisions>
    <decisions>
        <description>To determine Price Basis should be either Gross_US01 or NIV_IT01</description>
        <name>Price_Basis</name>
        <label>Price Basis</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gross_US01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validate_salesOrg_is_US01_or_IT01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrgFromTactic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPM_Gross_US01</targetReference>
            </connector>
            <label>Gross_US01</label>
        </rules>
        <rules>
            <name>NIV_IT01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validate_salesOrg_is_US01_or_IT01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrgFromTactic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NIV_IT</targetReference>
            </connector>
            <label>NIV_IT01</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>isTacticNew</description>
        <name>isTacticNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>holds the value of sales org from tactic through tactic template</description>
        <name>SalesOrgFromTactic</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.cgcloud__Tactic_Template__r.cgcloud__Sales_Org__c})</expression>
    </formulas>
    <formulas>
        <description>This validates the sales org should be either US01 or IT01</description>
        <name>validate_salesOrg_is_US01_or_IT01</name>
        <dataType>Boolean</dataType>
        <expression>OR(
(ISPICKVAL({!$Record.cgcloud__Tactic_Template__r.cgcloud__Sales_Org__c}, &quot;US01&quot;))
,(ISPICKVAL({!$Record.cgcloud__Tactic_Template__r.cgcloud__Sales_Org__c}, &quot;IT01&quot;))
)</expression>
    </formulas>
    <interviewLabel>TPM_Tactic_BeforeSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TPM_Tactic_BeforeSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get Sales Org Record</description>
        <name>getSalesOrgRecord</name>
        <label>getSalesOrgRecord</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Sales_Org_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrgFromTactic</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>cgcloud__Sales_Organization__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>cgcloud__Sales_Org_Value__c</queriedFields>
        <queriedFields>cgcloud__Currency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Blank_out_External_Id_field</name>
        <label>Blank out External Id field</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Check_Promotion_isnot_null</targetReference>
        </connector>
        <inputAssignments>
            <field>cgcloud__ExternalId__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NIV_IT</name>
        <label>NIV_IT</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>TPM_Price_Basis__c</field>
            <value>
                <stringValue>NIV (IT)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>TPM_Gross_US01</name>
        <label>Gross_US01</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <inputAssignments>
            <field>TPM_Price_Basis__c</field>
            <value>
                <stringValue>Gross (US)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update Currency on Tactic</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Price_Basis</targetReference>
        </connector>
        <inputAssignments>
            <field>TPM_Currency__c</field>
            <value>
                <elementReference>getSalesOrgRecord.cgcloud__Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Created</targetReference>
        </connector>
        <object>cgcloud__Tactic__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
